storage/*.sqlite
storage/*.sqlite-*
storage/uploads/**
!storage/uploads/.gitkeep
storage/cache/**
!storage/cache/.gitkeep
storage/logs/**
!storage/logs/.gitkeep
config.php
frontend/node_modules
frontend/**/node_modules
frontend/client/dist
.vite

tools/php/
tools/php.zip
Rin-0.3.0.zip
frontend/.vite

Rin-0.3.0/
*.zip
